<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Markdown grammar</span>
    </div>
    <div class='inner'>
      <ol>
        <li><tt>### title</tt></li>
        <li><tt>**bold**</tt></li>
        <li><tt>`console.log('code inline')`</tt></li>
        <li><tt>```js\n code \n```</tt> mark code segment</li>
        <li><tt>[content](link)</tt></li>
        <li><tt>![description](image url)</tt></li>
      </ol>
      <span><a href='https://segmentfault.com/markdown' target='_blank'>Markdown 文档</a></span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>topic guild</span>
    </div>
    <div class='inner'>
      <ol>
        <li>Your title should tell the story</li>
        <li>Question? Ask at<a href="http://stackoverflow.com/tags/node.js">SegmentFault</a>Stack Overflow</li>
      </ol>
    </div>
  </div>

</div>
